{% extends 'posts/base.html' %}
{% load tz %}
{% block title %}
    Delete Post
{% endblock title %}

{% block content %}
        <div style="background: #f5f5f5; padding: 10px; margin: 4vh 0 " class="card mb-8" >
          <div class="row no-gutters">
            <div class="col-md-6">
              {% comment %} <img src="..." class="card-img" alt="..."> {% endcomment %}
              <div width=100% height=100% class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src={{post.embed_link}} allowfullscreen></iframe>
               </div>
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title">{{ post.video_title }}</h5>
                <p class="card-text">
                From
                  <strong>
                    {% if post.post_from.username == "publicuser" %}
                      {{ post.post_from_public }}
                    {% else %}
                      {{ post.post_from.get_full_name }}
                    {% endif %}
                  </strong> To <strong>{{ post.post_to }}</strong> &middot; <small class="text-muted" >{{ post.date_created|timezone:"Asia/Kathmandu" }}</small></p>
                <p class="card-text"> {{ post.message }} </p>
                <p style="margin-bottom: 0px" class="card-text"></p>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <h2 style="padding: 30px 30px 30px 0">Are You Sure You want to delete this post?</h2>
        <form action="" method="post">
            {% csrf_token %}
            <button style="padding: 10px 30px; margin-right: 10px" type="submit" class="btn btn-danger btn-lg">Yeah Sure</button>
            <a style="padding: 10px 10px;" class="btn btn-info btn-lg" href="{% url 'posts:post_list' %}">WTF? NO go-back</a>
        </form>

{% endblock content %}